<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RoboFutureArbitr.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <RoboFutureArbitr.Properties.Settings>
            <setting name="ApiKey" serializeAs="String">
                <value>InvestTestAccount</value>
            </setting>
            <setting name="StartTradeDeviationPercent" serializeAs="String">
                <value>0.4</value>
            </setting>
            <setting name="CloseTradeDeviationPercent" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FutureMinAverageDayVolume" serializeAs="String">
                <value>50000000</value>
            </setting>
            <setting name="MaximumFutureExpirationDelayDays" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="MaxDealMoneyToBook" serializeAs="String">
                <value>50000</value>
            </setting>
            <setting name="SecurityGap" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="AVGBuyCandlesCount" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="AVGSellCandlesCount" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="MaxCandlesToStore" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="AvoidDividendsDays" serializeAs="String">
                <value>3</value>
            </setting>
        </RoboFutureArbitr.Properties.Settings>
    </applicationSettings>
</configuration>